name: Build & test

on:
  push:
    branches:
      - '*'
      - '!master'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Lint the code
      run: dotnet format --verify-no-changes

    - name: Restore dependencies
      run: dotnet restore

    - name: Build the project
      run: |
        cp WithingsToGarminSync/appsettings.stub.json WithingsToGarminSync/appsettings.json
        dotnet build

    - name: Run tests
      run: dotnet test
